{% extends 'base.html'%}

{% block LeftContent%}



        <form class="form-horizontal" method="post">
      <fieldset>
    <legend>添加批次</legend>
        {%  if get_flashed_messages() %}
        {% for category, message in get_flashed_messages(with_categories=true) %}
         <div class="alert alert-{{category}}" style="margin:0 auto;width:290px;padding:3px 5px;margin-bottom:8px;">
        <div style="padding-left:10px;">
        <span>{{message}}</span>
        </div>
        </div>
        {% endfor %}
        {% endif %}
    <div class="control-group">
      <label class="control-label" for="input01">年度：</label>
      <div class="controls">
        {{form.year(id='select01')}}
        <font color="red">{{form.year.errors[0]}}</font>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="input01">区县：</label>
      <div class="controls">
        {{form.county(id='select01')}}
        <font color="red">{{form.county.errors[0]}}</font>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="input01">建设用地批次名称 ：</label>
      <div class="controls">
        {{form.batch_name(class='input-xlarge',id='input01')}}
        <font color="red">{{form.batch_name.errors[0]}}</font>
        <p class="help-block">不能为空</p>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="input01">备注 ：</label>
      <div class="controls">
        {{form.remark(class='input-xlarge',id='input01')}}
        <font color="red">{{form.remark.errors[0]}}</font>
        <p class="help-block">不能为空</p>
      </div>
    </div>
    
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">保存更改</button>
        <input type="reset" class="btn" value="取消"/>
    </div>
      </fieldset>
    </form>


{% endblock %}